body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(19, 33, 70);
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-div {
  width: 10rem;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 40rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

input {
  list-style: none;
  padding: 0.625rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  width: 12.5rem;
}


main {
  padding: 1.25rem;
}

.options-bar-div {
  display: flex;
  align-items: center;
  margin: 0rem auto 1rem;
  border: 0.0625rem solid #ddd;
  border-radius: 0.25rem;
  padding: 0.3125rem 1rem;
  background-color: #f5f5f5;
  justify-content: space-between;
}

label {
  font-size: 0.9rem;
  color: #666;
  margin-right: 0.5rem;
}

select {
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  padding: 0.3125rem 0.5rem;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
}

button {
  border: none;
  background-color: #3498db;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9; /* Darker blue on hover */
}

.charts-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.25rem;
}

.chart-container-div {
  background-color: #fff;
  padding: 1.25rem;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;
  height: 25rem;
  width: 42rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #f1f1f1;
  padding: 1.25rem;
  text-align: center;
}
